* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --btn: rgb(10, 81, 189);
  --btnHover: rgb(85, 231, 18);
  --bgc-primary: #262c3a;
  --white: #fff;
}
html {
  background: var(--bgc-primary);
}

/* navbar */
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background: url(../images/19643055883023.5996f8afa3a8f.gif) no-repeat #000;
  background-size: contain;
  background-position: left;
}
.navgation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  position: relative;
  right: -35%;
}
.navgation a {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
}
/* fim da navbar */

/* container home e card */
.container {
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 10px;
  z-index: -10;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.cardInfo {
  display: flex;
  row-gap: 20px;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white);
}
/* fim container e cards */
/* Botoes */
.btnContainer {
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5vh;
  margin-top: 6vh;
}

.nextBtn {
  width: 20%;
  box-shadow: 4px 4px 8px black;
  height: 5vh;
  border: 2px solid #000000;

  border-radius: 5px;
  background: url(../images/fundo\ button.png);
}
.backBtn {
  display: flex;
  color: black;
  box-shadow: 4px 4px 8px black;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid #000000;
  border-radius: 5px;
  background: url(../images/fundo\ button.png);
  width: 20%;
  height: 5vh;
}

.prevBtn {
  border: 2px solid #000000;
  width: 20%;
  height: 5vh;
  box-shadow: 4px 4px 8px black;
  border-radius: 5px;
  background: url(../images/fundo\ button.png);
}

.prevBtn:hover {
  transform: scale(1.1);
}

.nextBtn:hover {
  transform: scale(1.1);
}
.backBtn:hover {
  transform: scale(1.1);
}
/* fim botoes */

/* Efeito de loaging */
.loading {
  background: rgba(255, 255, 255, 0.411);
  border: 5pc solid red;
  color: rgb(0, 0, 0);
  font-size: x-large;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.centralize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}
.loader {
  position: absolute;
  top: 45%;
  left: 46%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.data {
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 5%;
  font-size: 28px;
}

.epcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--bgc-primary);
}
/* medias querry ou responsividade*/
